* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin-block-end: 10px;
    padding: 20px;
    border: 2px black solid;
    background-color: rgb(19, 149, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.enviar {
    margin-top: 20px;
    height: 30px;
    width: 80px;
    font-size: 15px;
}

.listaAgendamento {
    margin-left: -5px;
    margin-top: 50px;
    border: 2px solid black;
    height: 500px;

}

.listaAgendamento > h3 {
    margin-top: 20px;
    margin-left: 20px;
}

.listaAgendamento > ul {
    margin-top: 10px;
    margin-left: 20px;
}

[class^='itemLista'] {
    
}