* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(44, 44, 184, 1) 0%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    }
.enviar {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #6c63ff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.listaAgendamento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}
    

.listaAgendamento > h3 {
    margin-left: 20px;
}

.listaAgendamento > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    background-color: white;
}

.infoLivro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoAluno {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

#apagar {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #6c63ff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.linha {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.linha > * {
    flex: 1;
}
    
[class^='itemLista'] {
    
}